/* @font-face {
  font-family: HelveticaNeue;
  src: url("../public/fonts/HelveticaNeue-Thin.woff") format(woff);
  weight: 200
} */
/* @font-face {
  font-family: HelveticaNeue;
  src: url("../public/fonts/HelveticaNeue-Roman.woff") format(woff);
  weight: 400;
} */


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial";
  /* font-family: HelveticaNeue, 'Helvetica', sans-serif; */
  font-weight: 200;
  background-color: black;
  color: white;
  line-height: 1.25;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

button {
  font-family: "Arial";
  /* font-family: HelveticaNeue, 'Helvetica', sans-serif; */
  font-weight: 400;
  letter-spacing: 1px;
}

button {
  width: 15em;
  background: white;
  border: 2px solid white;
  color: black;
  transition: all 1s;
  cursor: pointer;
  text-transform: uppercase;
  padding: 1em 2em;
  font-weight: bold;
  margin-top: 2em;

}

button:hover {
  background-color: black;
  color: white;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

a {
  color: coral;
  text-decoration: none;
  border-bottom: 1px solid coral;
  transition: border 0.5s;
}

a:hover {
  border-bottom-color: transparent;
}

